#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
group --name=adm
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=DovahSystems

# Root password
rootpw --iscrypted $6$pNSqNDVuBWBqY2si$Aus24kVhinrNbcF1RdaqzPNxLYhE/vEx9aLuStxuPzrU/2xYGpOkFYNBVzYNVA1lVb4r0X9xp8yF6IiWdzTFw1
# System services
services --disabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --nontp
user --groups=adm,wheel --name=DovahSystems --password=$6$GNrCK0jV2AdoM1xH$SauJv2WSYeN1auolF.a2O2STZQBX7roskfo5eLxFuqYNoMQkWpKnXGNeW41e64hFjL4tWojwXDiAHV8lIQR2a/ --iscrypted --gecos="DovahSystems"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /home --fstype="xfs" --ondisk=sda --size=2048
part /var/log --fstype="xfs" --ondisk=sda --size=2048
part /var/lib/mysql --fstype="xfs" --ondisk=sda --size=10240
part / --fstype="xfs" --ondisk=sda --size=4091
part swap --fstype="swap" --ondisk=sda --size=1024
part /var/lib/docker --fstype="xfs" --ondisk=sda --size=10240
part /tmp --fstype="xfs" --ondisk=sda --size=1024

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post  --log=/root/post.log

# Instalacion de Docker
yum install -y yum-utils
yum-config-manager \
    --add-repo \
    https://download.docker.com/linux/centos/docker-ce.repo
yum install -y docker-ce docker-ce-cli containerd.io
systemctl start docker
systemctl enable docker
curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose
service docker start
ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose

# Instalacion de vim
yum install vim-enhanced -y

# Instalacion de git
yum install git -y 

# Instalacion de wget
yum install wget -y

# Instalacion mysql
yum localinstall https://dev.mysql.com/get/mysql57-community-release-el7-9.noarch.rpm -y
yum install mysql-community-server -y
service mysqld starte
echo "grep 'A temporary password' /var/log/mysqld.log |tail -1" > /home/DovahSystems/getPassMysql.sh

%end
