#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=WebHost

# Root password
rootpw --iscrypted $6$v7WbSJcgXB9yZ68u$IzilyPefyG0Vojj9a49lYb2GtpJd/mSkV9.sTOgCxKkW6BjptwR3enHmDPGs7SWHhD304.e0UkIOKzvkXwNqk0
# System services
services --disabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --nontp
user --groups=wheel --name=gmorales --password=$6$ox513sMcpiP1qz9r$f5tuP3MWnvdALNGpJNyz3H7p5iF/cBmtft3ZoiOTW/npgbHjQc4fua3YfO8sqr9yf8BesyfPe59AEuzMIkrmM0 --iscrypted --gecos="Gaspar Morales"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=5117
part /home --fstype="xfs" --ondisk=sda --size=2048
part /tmp --fstype="xfs" --ondisk=sda --size=1024
part swap --fstype="swap" --ondisk=sda --size=1024
part /var/log --fstype="xfs" --ondisk=sda --size=1024

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
