#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=es --xlayouts='es'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=Backup

# Root password
rootpw --iscrypted $6$By42YLLcQ81/8zaQ$zkEx/BHqf372tEW5c7Tn73coPdACshbRitARAQ1T0K48JJp/Z8urGB4BzCgqtvTPftUsWy0f2j/KB9pYV8TUU0
# System services
services --disabled="chronyd"
# System timezone
timezone America/Montevideo --isUtc --nontp
user --groups=wheel --name=dovah_systems--password=$6$8XBEjUH3M9uS9iq5$9ijyhKL8hWUAEDgDmjJIELTfo.4UimWLerQrEM1YLNZFCo44Ia6T3BUqkykiPnmUB6azj5M0Oq./iMTyLXr2w0 --iscrypted --gecos="Dovah Systems"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=5117
part /home --fstype="xfs" --ondisk=sda --size=2048
part /tmp --fstype="xfs" --ondisk=sda --size=1024
part swap --fstype="swap" --ondisk=sda --size=1024
part /var/log --fstype="xfs" --ondisk=sda --size=1024

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
